.container {
  /* padding: 2rem; */
  height: 100vh;
  min-height: 100vh;
  background-color: #414b3a;
}

.top-text {
  font-size: 72px;
  color: white;
  font-weight: 100;
  text-align: center;
  letter-spacing: 1.25px;
}

.bottom-text {
  font-size: 42px;
  color: #cacaca;
  font-weight: 100;
  text-align: center;
  letter-spacing: .75px;
}

.animation-container {
  transform: scale(.9);
  border: 1px solid green;
}


@media (max-width: 1350px) {

}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */